.speech {
    color: black;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p.direction {
    color: black;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}
p.direction:hover {
    background-color:cadetblue;
    color:darkblue;
}
.X {
    color:blueviolet

}
.Y {
    color: aquamarine;
}
table, th, td {
    border: 1px solid;
    color:black
    
}
th, td {
    padding: 15px;
    margin: 0px;
    text-align: left;
}
tr:nth-child(even) {background-color: #f2f2f2;}
.X:hover {
    text-shadow: 1px 1px 1px crimson;

}